body{
    height: 5000px;
    overflow-x: hidden;
}


.navbar-brand{
    color: white;
    font-weight: 500;
}

.navbar-brand:hover{
    color: white;
}

.navbar{
    transition: all 0.5s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 100;
}

@media (max-width: 767px) {
    .navbar-collapse
      {
        backdrop-filter: blur(5px);
        border-radius: 10px;
      }
  }




  /***************************************************/
  /* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color:red;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color:white;
}
  /***************************************************/





.navbar-nav li{
    padding-left:10px;
    padding-right:10px;
  }

.navbar-collapse li{
    text-align: center;
    padding-top: 3px;
}

.navbar-toggler{
    /*border-color: black;*/
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: darkorange;
    }

.nav-link:focus{
    color: white;
}

.nav-link:active{
    color: darkorange;
}

.navbar-brand.scrolled {
    color: black;
}

.nav-link.scrolled {
    color: black;
}

.nav-link:hover.scrolled {
    color: white;
}

.navbar-scrolled{
    background-color:rgba(255, 140, 0, 0.85);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-link.scrolled {
    color: black;
}

.navbar-toggler-icon.scrolled {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28000, 000, 000, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.4);
    position: absolute;
    top:  0;
    left: 0;
    z-index: -1;
}

.about-box{
    
    scroll-margin-top: 72px;
    padding-top: 50px;
}

.title-all{
    text-align: center;
    background-image: linear-gradient(#ff8c00 0 0);
    background-position: bottom center; /*Adjust the background-position to move the line*/
    background-size: 8% 2px; /*Adjust the background size to control length and height*/
    background-repeat: no-repeat;
    padding-bottom: 10px; /* this can also control the position */
}



.welcome-box{
    height: 100vh;
    width: 100vw;
    line-height: 100vh;
    position: relative;
    top:  0;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.welcome-tx{
    text-align: center;
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height:1.5em;
    margin: 0 auto;
    float: none;
    width:100%;
}

.sub-welcome{
    line-height: 32px;
}

.type-color{
    color: darkorange;
}

/********************/

  .h1-about{
    padding-bottom: 20px;
  }

  .p-about{
    text-align:justify;
    word-spacing:-2px;
  }

  .hero img {
    order: 2;
   }

 .hero div {
    order: 1;
   }


   @media (min-width: 10px) {
    .hero{
        background-color: yellow;
        margin: auto;
        margin-top: 40px;
        width: 100%;
    }
    .img-about{
        display: block;
        margin: auto;
    }
   }

   @media (min-width: 768px) {
    .hero{
        background-color: blue;
        margin-top: 40px;
        width: 100%;
    }
    .img-about{
        display: block;
        margin: auto;
    }
   }

   @media (min-width: 992px) {
    .hero{
        background-color: green;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 40px;
        width: 95%;
    }
    .img-about{
        padding-left: 30px;
    }
   }

   @media (min-width: 1200px) {
    .hero{
        background-color: red;
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 40px;
        width: 80%;
    }
    .img-about{
        padding-left: 30px;
    }
   }



  /*@media screen and (max-width: 992px) {
    .hero {
       flex-direction: column;
       text-align: center;
       justify-content: center;
       padding: 30px;
       padding: 10px;
       width: 10%;
      }
  }

  @media screen and (max-width: 470px) {

  }*/
/********************/